<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H-Insight-AI</title>

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<main th:class="main-container">
    <th:block layout:fragment="content"></th:block>
</main>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>